/* index.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  padding: 0 3.2rem;
  margin: 0 auto;
}

.navbarTogglerActive > span:nth-child(1) {
  top: 7px;
  --tw-rotate: 45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.navbarTogglerActive > span:nth-child(2) {
  opacity: 0;
}

.navbarTogglerActive > span:nth-child(3) {
  top: -0.5rem;
  --tw-rotate: 135deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.navbarTogglerActive > span:nth-child(3) {
  top: -8px;
  transform: rotate(135deg);
}

.shadow-testimonial-6 {
  --tw-shadow: 0px 10px 20px 0px rgba(92, 115, 160, 0.07);
  --tw-shadow-colored: 0px 10px 20px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.companies-logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
  gap: 1.6rem;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
  padding: 0 3.2rem;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}
.companies-logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}
